!!! 5
html
  head
    title= '/r/' + locals.name + ' Charts'
    link(rel="stylesheet", type="text/css", href="/css/style.css")
  body
    div.submenu
      ul
        - each subreddit in locals.subreddits
          li
            a(href='/r/' + subreddit)= subreddit
        li
          a(href='#') Jazz
    header
      h1= '/r/' + locals.name
      nav
        li
          a.btn(href='https://reddit.com/r/' + locals.name) Open on Reddit
        li
          a.btn(href='tomahawk://open/playlist/?xspf=http://rcharts.bensbit.co.uk/r/' + locals.name + '.xspf') Play in Tomahawk
    #chartcontainer

      - each track, index in locals.results
        .chart-item
          .artwork(style='background-image: url(\'/i/' + escape(track.artist) + '.png\')')
          .info
            .number= index + 1
            a.info-track(href='#', title=track.title)= track.title
            a.info-artist(href='#', title=track.artist)= track.artist
