!!! 5
html
  head
    title= 'r/' + locals.name + 'charts'
    link(rel="stylesheet", type="text/css", href="/css/style.css")
  body
    header
      h1= 'r/' + locals.name
      nav
        li
          a.btn(href='#') Open on Reddit
        li
          a.btn(href='#') Play in Tomahawk
        li
          a.btn(href='#') Play in Spotify
        li
          a.btn(href='#') Play in R.dio
    #chartcontainer

      - each track, index in locals.results
        .chart-item
          .artwork(style='background-image: url(\'/i/' + escape(track.artist) + '.png\')')
          .info
            .number= index + 1
            a.info-track(href='#', title=track.title)= track.title
            a.info-artist(href='#', title=track.artist)= track.artist
